*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: rgb(227, 224, 224);
  width: 100%;
  margin: auto;
  padding: 20px;
  
}

.navbar li{
  float: left;
  list-style: none;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.navbar ul{
  overflow: auto;
}

#pg
{
  color: cadetblue;
  font-size: 18px;
}

#CF
{
  cursor: pointer;
  
}

.list1
{
  cursor: pointer;
 
}

.flip
{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,50%);
  text-align: center;
}

.heading
{
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: black;
  color: white;
  

}

#btn
{
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 6px;
  border-color: white;
  font-size: 14px;
}


#btn:hover{
  color: black;
  background-color: white;
  font-size: 14px;
  border-radius: 6px;
  border-color: black;
}
